/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	width: 100%;
}

/******************************************
/* LAYOUT
/*******************************************/
/* NAVBAR */
nav {
	max-width: 1280px;
	margin: 0 auto;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-weight: bold;
	font-size: 1.5rem;
	font-style: italic;
}

/* HOME */

main {
	width: 100%;
	position: relative;
	background-image: url("../assets/gundam-1620x800.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	max-height: 900px;
	overflow: hidden;
	border-radius: 0 0 10% 0;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}

.home-container {
	max-width: 1280px;
	margin: 12rem auto 20rem 9rem;
	color: #fff;
	text-shadow: 0px 0px 20px #aaaaaa;
}

.title {
	font-weight: 100;
	font-size: 5rem;
	margin: 0;
	width: 60%;
}

.schedule {
	position: absolute;
	right: 0;
	/* float: right; */
	writing-mode: vertical-lr;
	white-space: nowrap;
	color: rgb(250, 251, 251);
}

.ads {
	position: absolute;
	left: 9rem;
	bottom: 0;

	margin-top: 5rem;
	background-color: black;
	padding: 1.5rem 2rem;
	display: inline-block;
	width: 250px;
	line-height: 1.5;
	z-index: 2;
	color: #fff;
}

.home-navigation {
	position: absolute;
	bottom: 50px;
	right: 50px;
}
/* SERVICE */

.service-container {
	max-width: 1280px;
	margin: 10rem auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
	text-align: center;
	position: relative;
}

/* INFO */

#info {
	background-color: #f3f4f6;
}

.info-container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
	padding: 5rem;
}

.info-container .left {
	flex-basis: 600px;
}

.info-container .right img {
	border-radius: 10px;
}

/* feature */
.feature-container {
	max-width: 1280px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
	padding-block: 5rem;
}

.feature-container img {
	max-width: 400px;
	height: 600px;
}

.caption {
	position: relative;
	padding: 0.5rem 1rem;
	text-align: center;
	background-color: black;
	color: white;
	width: 80%;
	margin: 0 auto;
	margin-top: -60px;
	z-index: 2;
}

/* promotion */
.promotion {
	max-width: 1280px;
	margin: 5rem auto;
	background-image: url("../assets/png-transparent-gundam-seed-illustration-gundam-model-char-aznable-zaku-line-art-blaze-miscellaneous-sports-equipment-fictional-character-thumbnail-removebg-preview.png");
	background-size: contain;
	background-position: right;
	padding: 8rem 5rem;
	background-color: #aaaaaa;
	background-repeat: no-repeat;
}

.text-2xl .text-lg {
	font-size: 3rem;
}

.promotion button {
	background-color: black;
	color: white;
}

/* gallery */
.gallery-container {
	max-width: 1280px;
	margin: 5rem auto;
	text-align: center;
}

.gallery-container h2 {
	font-size: 3rem;
	font-weight: 200;
	margin: 0;
}

hr {
	display: inline-block;
	width: 16px;
	border: 2px solid black;
	margin: 1rem auto;
}

.masonary {
	display: grid;
	width: 100%;
	grid-template-areas:
		"img1 img2 img3"
		"img4 img2 img5"
		"img4 img6 img5";
	grid-template-rows: auto auto;
	grid-template-columns: auto auto auto;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
}

.image01 {
	grid-area: img1;
}
.image02 {
	grid-area: img2;
}
.image03 {
	grid-area: img3;
}
.image04 {
	grid-area: img4;
}
.image05 {
	grid-area: img5;
}
.image06 {
	grid-area: img6;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.text-2xl {
	font-size: xx-large;
}
.text-sm {
	font-size: small;
	font-weight: 200;
}

.service-btn {
	margin-top: 20px;
	color: white;
	background-color: black;
}

nav i {
	font-size: 1rem;
}

.service-container i {
	position: relative;
	font-size: 4rem;
}

.arw-btn {
	border: 1px solid black;
	padding: 0.8rem;
	border-radius: 50%;
}

.float-left {
	float: left;
}
.text-lg {
	font-size: 1.5rem;
	font-weight: bold;
}

.btn {
	padding: 1rem 2rem;
}

img {
	max-width: 100%;
	object-fit: cover;
	height: auto;
}

button {
	border: none;
	background-color: #fff;
	cursor: pointer;
}

h1,
p {
	letter-spacing: 2px;
}

h3 {
	font-size: 1.5rem;
}

ul {
	list-style: none;
	margin: 0;
}

li {
	display: inline;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: black;
}

img {
	width: 100%;
	display: block;
}
