/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	width: 100%;
}

/******************************************
/* LAYOUT
/*******************************************/
/* NAVBAR */

main {
	position: relative;
	min-height: 700px;
}

main::before {
	content: "";
	background-image: url("../assets/brooke-lark-08bOYnH_r_E-unsplash.jpg");
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	transform: scaleX(-1);
	z-index: -1;
}

.nav-container {
	width: 85%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-block: 1rem;
}

.logo {
	width: 200px;
}

.nav-right {
	display: flex;
	align-items: center;
	gap: 1.2rem;
}

.nav-button button {
	border: none;
	background: none;
	color: black;
}

/* HOME */
.home {
	width: 85%;
	margin: 0 auto;
	padding-block: 5rem;
}

.home-container {
	width: 60%;
}

.main-icons {
	margin-top: 20px;
	display: flex;
	align-items: center;
	gap: 2rem;
	width: 30%;
	color: orange;
	font-size: 0.8rem;
}

/* ABOUT US */

#about {
	background-image: url("../assets/brooke-lark-of0pMsWApZE-unsplash.jpg");
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 700px;
	background-position-x: -50%;
	background-color: #f3f7f8;
	display: flex;
}

.about-container {
	width: 85%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.about-bruh {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* width: 50%; */
	flex: 0 1 50%;
	gap: 1.2rem;
}

.arrow-btn {
	padding: 0.5rem 1.5rem 0.5rem 1rem;
	width: 10rem;
}

.arrow-btn i {
	float: right;
	padding-left: 10px;
}

/* ORDER */

#order {
	min-height: 700px;
	display: flex;
	background-color: #f2f6f7;
}

.order-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 85%;
	margin: 0 auto;
	gap: 1.2rem;
}

.order-filter {
	display: flex;
	flex-wrap: wrap;
}

.order-container ul li {
	margin-right: 0;
	padding-inline: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid gray;
	margin-bottom: 10px;
}

.order-container ul li:hover {
	border-bottom: 3px solid orange;
}

.order-container ul li:hover a {
	color: orange;
}

.carousel {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	flex-wrap: wrap;
	margin-top: 20px;
}

.carousel > * {
	position: relative;
	width: 300px;
	height: 400px;
}

.carousel img {
	width: 100%;
	aspect-ratio: 1/2;
	object-fit: cover;
	width: 300px;
	height: 400px;
}

.overlay {
	position: absolute;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	width: 300px;
	height: 400px;
	white-space: normal;
	opacity: 0;
	transition: opacity 0.5s ease-in;
	background-color: rgba(128, 128, 128, 0.7);
}

.overlay:hover {
	/* background-color: gray; */
	opacity: 80;
}

.stars .checked {
	color: orange;
}

.overlay p {
	font-size: 1.2rem;
	font-weight: 500;
}

/* BOOK */
.book-container {
	width: 85%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
}

.book-container i {
	border-radius: 50%;
	border: 1px solid orange;
	padding: 1rem;
	font-size: 2rem;
	color: orange;
}

.book-container .phone {
	margin-top: 1rem;
	text-align: center;
}

.book-container .phone p + p {
	color: orange;
	font-weight: bold;
	font-size: 2rem;
	margin: 0;
}

.book-container .time {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.book-container .time p + p {
	font-weight: bold;
	font-size: 2rem;
}

.book-container img {
	width: 500px;
	height: 400px;
	object-position: bottom;
	transform: scaleX(1.2);
}

@media screen and (max-width: 500px) {
	.book-container img {
		width: 300px;
		height: 400px;
	}
}

/* Testimonial */
#test {
	background-color: #f2f6f7;
}

.test-container {
	width: 85%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1.2rem;
}

.testimonial-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-block: 2rem;
}

.testimonial-card img {
	border-radius: 50%;
	background-color: #aaaaaa;
	width: 5rem;
}

.testimonial-card img + p {
	font-weight: bold;
	font-size: 2rem;
	margin: 1rem 0 0;
}

.testimonial-card span {
	color: #aaaaaa;
	margin-bottom: 1rem;
}

.testimonial-card .detail {
	text-align: center;
	width: 60%;
	line-height: 1.5;
}

/* ADDITIONAL STYLES */
img {
	width: 100%;
	object-fit: cover;
}

section {
	padding-block: 1rem;
	min-height: 700px;
	width: 100%;
}

h1,
h3 {
	font-size: 3.5rem;
	text-wrap: wrap;
	text-shadow: 0px 0px 20px #aaaaaa;
}

h1 {
	width: 60%;
}

h2 {
	color: orange;
	font-size: 1rem;
	text-shadow: 0px 0px 20px #aaaaaa;
}

h3 {
	margin: 0;
}

p {
	line-height: 1.2;
	text-shadow: 0px 0px 20px #aaaaaa;
}

form input {
	border: gray;
	padding: 0.5rem;
	width: 30%;
}

button {
	padding: 0.5rem 1rem;
	background-color: orange;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	color: #fff;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline;
	margin-right: 20px;
}

li a:hover {
	color: orange;
}

a {
	text-decoration: none;
	color: black;
}
