/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

:root {
	--clr-primary-100: #2f4456;
	--clr-primary-200: #969da4;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	background-color: #fff;
	width: 100%;
}

/******************************************
/* LAYOUT
/*******************************************/
#home {
	background-color: #f5f9fc;
}

.container,
.about-container {
	width: 80%;
	margin: 0 auto;
	color: var(--clr-primary-100);
}

.features article {
	display: inline-block;
	width: calc(25% - 20px);
	margin-right: 20px;
	vertical-align: top;
}

.features article:last-child {
	margin-right: 0;
}

.features a {
	text-decoration: none;
	font-weight: bold;
	color: var(--clr-primary-100);
}

.features i {
	font-size: xx-large;
}

.aboutPageGraphic {
	width: 100%;
	background-color: var(--clr-primary-200);
	height: 500px;
	margin-bottom: 100px;
	position: relative;
}

.aboutPageGraphic img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35%;
	margin: 0 auto;
	vertical-align: middle;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

h2 {
	font-size: 3rem;
}

p {
	color: var(--clr-primary-200);
}

.half-width {
	width: 60%;
}
@media screen and (max-width: 640px) {
	.hide-on-small-screens {
		display: none;
	}
}

@media screen and (max-width: 800px) {
	.features article {
		width: 40%;
		margin-bottom: 30px;
	}
}
