/* Box Model Hack */
* {
	box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clear {
	clear: both;
}

:root {
	--clr-primary-100: #2f4456;
	--clr-primary-200: #5c6064;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
	background-color: #fff;
	width: 100%;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
/* NAVBAR */
#nav {
	background-color: #f5f9fc;
}

nav {
	padding: 1rem 2rem;
	text-align: center;
}

nav > * {
	display: inline-block;
	vertical-align: middle;
}
.menu {
	display: none;
}
.logo {
	text-align: left;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--clr-primary-100);
}

.center {
	text-align: center;
	width: 80%;
}

.right {
	text-align: right;
}

/* HOME */
.tagline {
	color: var(--clr-primary-200);
	font-weight: bold;
	font-size: medium;
}

#home {
	width: 90%;
	margin: 3rem 0 0 auto;
}

.home-left h1 {
	margin-right: 8rem;
}

.home-left {
	width: 40%;
	float: left;
}

.home-right {
	width: 40%;
	float: right;
}

.search-form {
	width: 100%;
}

.search-form input {
	padding: 0.4rem;
	margin: 0;
}

/* FEATURE */
.container,
.about-container {
	width: 80%;
	margin: 0 auto;
	color: var(--clr-primary-100);
}

.features {
	padding-block: 8rem;
}

.features article {
	display: inline-block;
	width: calc(25% - 20px);
	margin-right: 20px;
	vertical-align: top;
}

.features article:last-child {
	margin-right: 0;
}

.features a {
	text-decoration: none;
	font-weight: bold;
	color: var(--clr-primary-100);
}

.features i {
	font-size: xx-large;
}

.aboutPageGraphic {
	width: 100%;
	background-color: var(--clr-primary-200);
	height: 500px;
	margin-bottom: 100px;
	position: relative;
}

.aboutPageGraphic img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 35%;
	margin: 0 auto;
	vertical-align: middle;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1 {
	color: var(--clr-primary-100);
}
h2 {
	font-size: 3rem;
}

p {
	color: var(--clr-primary-200);
}

.half-width {
	width: 60%;
	margin-bottom: 2rem;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	display: inline;
	margin-right: 10px;
}

a {
	text-decoration: none;
	color: var(--clr-primary-100);
}

.btn {
	color: white;
	background-color: var(--clr-primary-100);
	font-size: medium;
	padding: 0.4rem 1rem;
}

@media screen and (max-width: 640px) {
	.hide-on-small-screens {
		display: none;
	}
	.home-right {
		float: none;
	}
	.search-form button,
	input {
		width: 90%;
		margin-top: 1rem;
	}

	/* h2 {
		font-size: 2.5rem;
	} */
}

@media screen and (max-width: 905px) {
	nav {
		border-bottom: 2px solid rgb(187, 186, 186);
	}
	h2 {
		font-size: 2.5rem;
	}

	.features article {
		width: 40%;
		margin-bottom: 30px;
	}

	.home-left {
		width: 80%;
		float: none;
		margin: 0 auto;
	}
	.home-right {
		float: none;
	}

	.search-form button,
	input {
		width: 90%;
		margin-top: 1rem;
	}

	nav .center,
	nav .right {
		display: none;
	}

	.half-width {
		width: 80%;
	}

	.menu{
		display:inline-block;
		float: left;
		font-size: xx-large;

	}
}
